{% extends 'base.html' %}
{% block content %}
<script>
    var value=1;
    
    function buttonfunction2()
    {
        value=2;
    }
    function buttonfucntion1()
    {
        value=1;
    }

    function func() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("autocomplete-input");
        filter = input.value.toUpperCase();
        table = document.getElementById("tab");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) 
        {
            td = tr[i].getElementsByTagName("td")[value];
            if (td) 
            {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) 
                {
                    tr[i].style.display = "";
                } 
                else 
                {
                    tr[i].style.display = "none";
                }
            }
        }
}
</script> 

<center>
    <h2>
        Leaderboard
    </h2>

    <div class="row">
        <div class="col s8 offset-s2 l4 offset-l4 m6 offset-m3">
                <div class="input-field col s12 center-align">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete" onkeyup="func()">
                    <label for="autocomplete-input">Search</label>
            </div>
        </div>
    </div>
    <div class="row center-align">
        <form action="#">
              <label>
                  
                <input name="group1" type="radio" checked onclick="buttonfunction1()"/>
                <span>By Name</span>
              </label>

              <label>
                <input name="group1" type="radio" onclick="buttonfunction2()"/>
                <span>By Roll.No</span>
              </label>
        </form>
</div>
    
</center>
<table id="tab">
    <tr>
        <th>
            Rank
        </th>
        <th>
            Name
        </th>
        <th>
            Roll No.
        </th>
        <th>
            Points
        </th>
    </tr>
    {% for participant in participants %}

    <tr>
        <td>
            {{participant.rank}}
        </td>
        <td>
            {{participant.name}}
        </td>
        <td>
            {{participant.roll_no}}
        </td>
        <td>
            {{participant.points}}
        </td>
    </tr>

    {% endfor %}
</table>
{% endblock %}

{% block scripts %}
{% load static %}
{% load compress %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/project/main.js'%}"></script>
{% endcompress %}
{% endblock %}