:root {
    --Primary: #1a237e;
    --Secondary: #ffffff;
    --leaderboardPrimary:rgb(255, 196, 0);
    --leaderboardSecondary:black;
    --navBarPrimary:rgba(0,0,0,0.5);
    --navBarSecondary:#ffffff;
}
