{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static '/css/cover.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>ISTE Obscura Instructions</title>
        <link rel="icon" type="image/png" href="{% static '/images/logobng.png' %}">
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
        <style>
            li {
                padding-bottom: 1%;
            }
        </style>
    </head>
    <body>
        <script src="https://kit.fontawesome.com/0a3d56d8b5.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <div class="navbar">
            <nav class="transparent z-depth-0" >
                <a style="padding-left: 1%;" href="{% url 'Cover' %}"><button class="waves-effect waves-light btn-large center deep-orange darken-4">Go back</button></a>
                <a class="brand-logo center">
                    <img width="75" src="{% static '/images/logobng.png' %}">
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="https://iste.nitk.ac.in/">About Us</a></li>
                  </ul>
                
            </nav>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <h1 class="center">Obscura</h1>
                <h2 class="center">Instructions</h2>
            </div>
            <div class="flow-text grey-text">
                <ol>
                    <li>Welcome to Obscura! We hope you have a blast participating in this event!</li>
                    <li>The rules are simple! First and foremost, register! Note that Team participation is optional for this event, you can participate individually and solo participants will not be at a disadvantage.</li>
                    <li>It is suggested that you participate only through a laptop or a PC. Do not participate through your phones as some aspects might not work properly.</li>
                    <li>There are 15 question nodes and 5 game nodes for you to explore!</li>
                    <li>Explore these nodes and unlock different places and their views in the Gallery!</li>
                    <li>The <button class="btn-floating not-visited btn-large"><i class="fa fa-flag-checkered" aria-hidden="true"></i></button> nodes are the question nodes and the question nodes which are pulsing <button class="btn-floating not-visited btn-large pulse"><i class="fa fa-flag-checkered" aria-hidden="true"></i></button>  unlock the above-mentioned views in the gallery.</li>
                    <li>If you successfully answer a question, depending on the difficulty, you will be awarded 50, 100 or 150 points! The question node will subsequently turn <button class="btn-floating completed btn-large"><i class="fa fa-flag-checkered" aria-hidden="true"></i></button> !</li>
                    <li>But beware! There's negative marking! You'll lose one-third of the attainable marks for each option you mark wrong! For example,-50 will be subtracted from your score if the attainable score of the question is 150!</li>
                    <li>The question node will turn <button class="btn-floating visited btn-large"><i class="fa fa-flag-checkered" aria-hidden="true"></i></button> or <button class="btn-floating visited btn-large pulse"><i class="fa fa-flag-checkered" aria-hidden="true"></i></button>, if you've visited the node.</li>
                    <li>We have five games for you! These are at the nodes marked by <button class="btn-floating game pulse btn-large"><i class="fas fa-gamepad" aria-hidden="true"></i></button> !</li>
                    <li>Compete for high scores in games and earn points for your total Obscura score!</li>
                    <li>Check the Leaderboard for information on which teams are leading!</li>
                    <li>Complete special tasks mentioned in the iste website <attatch link> to earn points for the ISTE square one leaderboard!</li>
                    <li>Please note that the Obscura leaderboard and the ISTE Square One leaderboard are different.</li>
                </ol>
            </div>
        </div>



        <footer class="page-footer black">
            <div class="row center">
                
                <a href='https://www.facebook.com/istenitk/' target="_blank">
                    <i class="center fa fa-facebook-square fa-2x white-text"></i>
                </a>
                <a href='https://www.instagram.com/istenitk/' target="_blank">
                    <i class="center fa fa-instagram fa-2x white-text"></i>
                </a>
                <a href='https://www.youtube.com/c/istenitk' target="_blank">
                    <i class="center fa fa-youtube-play fa-2x white-text"></i>
                </a>
                <a href='https://www.linkedin.com/company/indian-society-for-technical-education-nitk-chapter/?originalSubdomain=in' target="_blank">
                    <i class="center fa fa-linkedin fa-2x white-text"></i>
                </a>
                
            </div>
            <div class="center">
                Made with ❤️ by ISTE Crypt
            </div>
        </footer>

    </body>
</html>


